<div class="main-wrapper">
    <app-adminsidebar></app-adminsidebar>
    <app-adminheader></app-adminheader>
    <div class="page-wrapper">
        <div class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h4 class="card-title d-inline-block"><b style="font-weight: 500;">Students</b></h4>  <a routerLink="../adminstuleaves"><button class="btn btn-primary" style="float: right;">Leaves</button></a> &nbsp;
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">                        
                               
                                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phno</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>City</th>
                                            <th>Status</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Aryan</td>
                                            <td>8545245214</td>
                                            <td>male</td>
                                            <td>devesh120@gmail.com</td>
                                            <td>Ahmedabad</td>
                                           
                                            <td>
                                                <div class="dropdown action-label">
                                                    <a class="custom-badge status-green " href="#" aria-expanded="false">
                                                        Active
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                            
                                        </tr>

                                


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>