<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
               
                <li class="active">
                    <a routerLink="../studashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="../stuleaverequest"><i class="fas fa-sign-in-alt"></i> <span>Leave Request</span></a>
                </li>
                <li>
                    <a routerLink="../stuleaves"><i class="far fa-calendar-check"></i> <span>Leaves</span></a>
                </li>
                <li>
                    <a routerLink="../stuapprovedleave"><i class="far fa-calendar-check"></i> <span>Approved Leave</span></a>
                </li>
                <li>
                    <a routerLink="../stupendingleave"><i class="far fa-calendar-check"></i> <span>Pending Leave</span></a>
                </li>
                <li>
                    <a routerLink="../sturejectedleave"><i class="far fa-calendar-check"></i> <span>Rejected Leave</span></a>
                </li>
                <li>
                    <a routerLink="../stuprofile"><i class="far fa-calendar-check"></i> <span>Profile</span></a>
                </li>
                
            </ul>
        </div>
    </div>
</div>