<div class="main-wrapper">
    <app-adminsidebar></app-adminsidebar>
    <app-adminheader></app-adminheader>
    <div class="page-wrapper">
        <div class="content">

            <form [formGroup]="myDepartmentForm" (ngSubmit)="submit()">
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><b style="font-weight: 500;">Department Form</b></h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label>Department Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="deptname">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="refresh()" class="btn btn-danger" data-toggle="modal"
                                    data-dismiss="modal" data-target="#myModal">Close</button>
                                <button type="submit" value="submit" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h4 class="card-title d-inline-block"><b style="font-weight: 500;"> Department</b></h4> <button class="btn btn-primary float-right"
                                data-toggle="modal" data-target="#myModal">Add
                                Department</button>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">

                                <table *ngIf="depet" datatable [dtOptions]="dtOptions" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Department Name</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of depet">
                                            
                                            <td>{{d.deptid}}</td>
                                            <td>{{d.deptname}}</td>
                                            
                                            <td>
                                                <a > <i [routerLink]="['/admindepartment/editAdminRole',d.deptid]"  data-toggle="modal" data-target="#myModal" class="fas fa-edit" style="color: lightseagreen;"></i> </a> | 
                                                <a> <i class="fas fa-trash-alt" style="color: red;"></i> </a>
                                            </td>
                                        </tr>

                                     

                                       

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    