<div class="header">
    <div class="header-left">
        <a routerLink="../ctdashboard" class="logo">
            <img src="assets/img/panel_icon.png" width="35" height="35" alt=""> <span>Leavemgt</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">

        <li class="nav-item">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>&nbsp;
                <span>CT</span>
            </a>
           
        </li>

        <li class="nav-item">
            <a routerLink="/" class="nav-link"><i class="fas fa-power-off"></i></a>
        </li>&nbsp;&nbsp;
       
    </ul>
    
</div>