<div class="main-wrapper">
     <app-adminsidebar></app-adminsidebar>
     <app-adminheader></app-adminheader>
    <div class="page-wrapper"> 
        <div class="content">
            
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                style="float: right;">&times;</button>

                        </div>

                        <div class="modal-body">

                            <label>Reason for Rejected <span class="text-danger"> * </span>&nbsp;</label> <br>

                            <input class="form-control" type="text" />

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

           
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block"><b style="font-weight: 500;">Admin Dashboard</b></h4>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>98</h3>
                                <span class="widget-title1">Faculties <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="far fa-calendar-check"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>1072</h3>
                                <span class="widget-title2">Students <i class="fa fa-check"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fas fa-hourglass-half"
                                    aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>72</h3>
                                <span class="widget-title3">Pending Approval <i class="fa fa-check"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    
                </div>


            </div> 


        </div>
    </div>
</div>