<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
               
                <li class="active">
                    <a routerLink="../admindashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="../adminrole"><i class="fas fa-user-tie"></i> <span>Role</span></a>
                </li>
                <li>
                    <a routerLink="../admindepartment"><i class="fas fa-home"></i> <span>Department</span></a>
                </li>
                <li>
                    <a routerLink="../adminusers"><i class="fas fa-users"></i> <span>Users</span></a>
                </li>
                <li>
                    <a routerLink="../adminstudent"><i class="fas fa-users"></i> <span>Students</span></a>
                </li>
                <li>
                    <a routerLink="../admingiveapproval"><i class="fas fa-sign-in-alt"></i> <span>Give Approval</span></a>
                </li>
                <li>
                    <a routerLink="../adminfacultylist"><i class="fas fa-users"></i> <span>Faculty</span></a>
                </li>
                <li>
                    <a routerLink="../adminsettings"><i class="far fa-sun"></i> <span>Settings</span></a>
                </li>
                
            </ul>
        </div>
    </div>
</div>