<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="active">
                    <a routerLink="../studashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li class="active">
                    <a routerLink="../admindashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li class="active">
                    <a routerLink="../facdashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li class="active">
                    <a routerLink="../ctdashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="../ctleaverequest"><i class="fas fa-sign-in-alt"></i> <span>Leave Request</span></a>
                </li>
                <li>
                    <a routerLink="../facleaverequest"><i class="fas fa-sign-in-alt"></i> <span>Leave Request</span></a>
                </li>
                <li>
                    <a routerLink="../stuleaverequest"><i class="fas fa-sign-in-alt"></i> <span>Leave Request</span></a>
                </li>
                <li>
                    <a routerLink="../adminrole"><i class="far fa-sun"></i> <span>Role</span></a>
                </li>
                <li>
                    <a routerLink="../admindepartment"><i class="fas fa-home"></i> <span>Department</span></a>
                </li>
                <li>
                    <a routerLink="../adminusers"><i class="fas fa-users"></i> <span>Users</span></a>
                </li>
                <li>
                    <a routerLink="../student"><i class="fas fa-users"></i> <span>Students</span></a>
                </li>
                <li>
                    <a routerLink="../stuapprovedleave"><i class="far fa-calendar-check"></i> <span>Approve Leave</span></a>
                </li>
                <li>
                    <a routerLink="../stupendingleave"><i class="fas fa-hourglass-half"></i> <span>Pending Leave</span></a>
                </li>
                <li>
                    <a routerLink="../sturejectleave"><i class="far fa-calendar-times"></i> <span>Reject Leave</span></a>
                </li>
                <li>
                    <a routerLink="../ctleavestatus"><i class="far fa-calendar-times"></i> <span>Leave Status</span></a>
                </li>
                <li>
                    <a routerLink="../facleavestatus"><i class="far fa-calendar-times"></i> <span>Leave Status</span></a>
                </li>
                <li>
                    <a routerLink="../stuleaves"><i class="fas fa-file-alt"></i> <span>Leaves</span></a>
                </li>
                <li>
                    <a routerLink="../stuprofile"><i class="fas fa-user-alt"></i> <span>Profile</span></a>
                </li>
                <li>
                    <a routerLink="../ctgiveapproval"><i class="far fa-calendar-check"></i> <span>Give Approval</span></a>
                </li>
               
                
            </ul>
        </div>
    </div>
</div>